.App {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  background-color: #f5f5f5;
}

.counter-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  block-size: 40vmin;
  pointer-events: none;
  border-radius: 15px;
}

h1 {
  font-size: 3rem;
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #61dafb;
  border-radius: 5px;
  color: #ffffff;
  background-color: #282c34;
}
